<div class="row g-0">
  <div class="card">
    <div class="card-header">
      Account List

      <button type="button" (click)="addAccount()" class="btn btn-primary float-end"> Add </button>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sl.</th>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let journalEntry of journalEntries; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ journalEntry.date }}</td>
            <td>{{ journalEntry.description }}</td>
            <td>
              <button type="button" (click)="EditJournalEntries(journalEntry)" class="btn btn-primary mx-1">Edit</button>
              <button type="button" (click)="RemoveJournalEntries(journalEntry)" class="btn btn-danger mx-1">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" hidden id="openmodal" data-bs-toggle="modal"
  data-bs-target="#JEModal">
  Add Account Journal
</button>

<!-- Modal -->
<div class="modal fade" id="JEModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Account Journal</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" id="closeModdal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="mb-3">
          <label for="date" class="form-label">Date</label>
          <input type="date" id="date" [(ngModel)]="oJournalEntry.date" name="date" class="form-control"
            placeholder="Enter journal Entry Date" />
        </div> 
        
        <div class="mb-3">
          <label for="type" class="form-label">Description</label>
          <input type="text" id="description" [(ngModel)]="oJournalEntry.description" name="description" class="form-control"
            placeholder="Enter journal Entry Description" />

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm()">Close</button>
        @if (oJournalEntry.id==0) {
        <button type="button" class="btn btn-primary" (click)="InsertJournalEntry()">Add </button>
        }@else {
        <button type="button" class="btn btn-primary" (click)="UpdateJournalEntry()">Update </button>
        }


      </div>
    </div>
  </div>
</div>