<div class="row g-0">
  <div class="card">
    <div class="card-header">
      Account List

      <button type="button" (click)="addAccount()" class="btn btn-primary float-end"> Add </button>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sl.</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accounts">
            <th scope="row">1</th>
            <td>{{account.name}}</td>
            <td>{{account.type}}</td>
            <td>
                    <button type="button" (click)="EditAccount(account)" class="btn btn-primary mx-1 "> Edit </button>
                    <button type="button" (click)="RemoveAccount(account)" class="btn btn-primary mx-1"> Delete </button>

            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" hidden id="openmodal" data-bs-toggle="modal"
  data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" id="closeModdal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" id="name" [(ngModel)]="oAccount.name" name="name" class="form-control"
            placeholder="Enter account name" />

        </div>

        <div class="mb-3">
          <label for="type" class="form-label">Type</label>
          <input type="text" id="type" [(ngModel)]="oAccount.type" name="type" class="form-control"
            placeholder="Enter account name" />

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        @if (oAccount.id==0) {
        <button type="button" class="btn btn-primary" (click)="InsertAccount()">Add </button>
        }@else {
        <button type="button" class="btn btn-primary" (click)="UpdateAccount()">Update </button>
        }


      </div>
    </div>
  </div>
</div>